doctype html
html.no-js(lang='en', itemscope='itemscope', itemtype='http://schema.org/Product')
//
    <![endif]
head
    //
       Meta tags & title /
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Deconstructed.io
    meta(name='description', content='Deconstructed.io.')
    meta(name='keywords', content='deconstructed, real-time, profile tier, profile, user, identity')
    meta(name='author', content='humans.txt')
    //
       Favicon /
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    //
       Favicon /
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    //
       Stylesheets /
    link(rel='stylesheet', href='css/gumby.css')
    //
       Gumby Framework /
    link(rel='stylesheet', href='css/style.css')
    //
       Main stylesheet /
    link(rel='stylesheet', href='css/component.css')
    //
       Header Slider /
    link(rel='stylesheet', href='css/owl.carousel.css')
    //
       Owl Carousel Assets
    link(rel='stylesheet', href='css/animate.css')
    //
       Animate for Process Slider
    link(rel='stylesheet', href='css/liquid-slider.css')
    //
       Liquid Slider ( Process Section )
    script(src='js/modernizr-2.6.2.min.js')
    //
       Modernizr /
body
    //
       Preload the Whole Page
    #preloader
        #loading-animation
    //
       HEADER ###############################################
    section#header
        ul#cbp-bislideshow.cbp-bislideshow
            //
               Slide /
            li
                img(src='img/background4.jpg', alt='Portland at Night')
        #cbp-bicontrols.cbp-bicontrols
            span.cbp-biprev
            span.cbp-binext
        .row

            #impressionFader.eight.columns.centered(data-0='opacity:1;', data-top='opacity:0;')
                img(alt='YOURLOGO', src='img/bedeconstructed.png')
                span.Sub2
                    | User data is an asset. Put it to good use.
                //
                   Impression /
                .Impressions(style='opacity: 0;')
    //
       END HEADER ###############################################
    //
       FOOTER  ###############################################
    section#footer
        .row
            .twelve.columns
                a.goto.back-to-top.pull_right(href='#')
                    img(src='img/top.png', alt='Back to Top')
                p © 2014 Deconstructed, Inc. All rights reserved.
    //
       END FOOTER  ###############################################
    script(src='js/jquery-2.0.2.min.js', type='text/javascript')
    //
       jQuery
    script(src='js/mediaCheck.js', type='text/javascript')
    //
       Media Check
    script(src='js/main.js', type='text/javascript')
    //
       Main Javascript File
    script(src='js/jquery.easing.1.3.js', type='text/javascript')
    //
       Easing Effect
    script(src='js/grid.js', type='text/javascript')
    //
       Owl Carousel
    script(src='js/jquery.parallax-1.1.3.js', type='text/javascript')
    //
       jQuery Parallax
    script(src='js/waypoints.min.js', type='text/javascript')
    //
       Smooth Scrolling
    script(src='js/jquery.scrollto.js', type='text/javascript')
    //
       ScrollTo
    script(src='js/classie.js', type='text/javascript')
    //
       Menu
    script(src='js/jquery.imagesloaded.min.js', type='text/javascript')
    //
       Header Slideshow
    script(src='js/cbpBGSlideshow.min.js', type='text/javascript')
    //
       Header Slideshow
    script(src='js/owl.carousel.js', type='text/javascript')
    //
       Owl Carousel
    script(src='js/jquery.touchSwipe.min.js', type='text/javascript')
    //
       TouchSwipe for Process Slider
    script(src='js/jquery.liquid-slider.js', type='text/javascript')
    //
       Process Slider
    //
       Change UA-46681907-1 to be your site's ID
    //
      <script>
      window._gaq = [['_setAccount','UA-46681907-1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
      </script>
    //
       Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started
    //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script
        window.attachEvent('onload', function () {
        CFInstall.check({mode: 'overlay'})
        })
                          